
<div class="container">

    <h1>BOOK DETAILS PAGE</h1>

        <h1>{{title}}</h1>
    
    <div class="row">
    
        <div class="book-view">
            
            <div class="book-view-thumbnail col-2">
                
                <p></p><img src="{{imageLinks.thumbnail}}">
            
            </div>

            <div class="book-info col-10">
                
                <p><b>Author(s):</b>{{#each authors}}<li>{{this}}</li>{{/each}}
                <br><b>Publisher: </b>{{publisher}}
                <br><b>Published: </b>{{publishedDate}}
                <p>{{description}}

            
            </div>

        </div>

    </div>

</div>