<!DOCTYPE html>
<html>
  <head>
    <title>Kitaab</title>
    <script
  src="http://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
  crossorigin="anonymous"></script>
    <script src="/javascripts/axios.js"></script>
    {{!-- <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' /> --}}
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <nav class="top-nav">
      <img src=""><a href="/">HOME</a>
      &nbsp;
      &nbsp;
      {{#unless user}}<a href="/users/signup">SIGNUP</a>
      &nbsp;
      &nbsp;
      <a href="/users/login">LOGIN</a>
      &nbsp;
      &nbsp;{{/unless}}      
      {{#if user}}<a href="/users/{{user._id}}">MY PROFILE</a>
      &nbsp;
      &nbsp;
      <a href="/users/edit/{{user._id}}">EDIT PROFILE</a>
      &nbsp;
      &nbsp;
      <a href="/users/groups">MY GROUPS</a>
      &nbsp;
      &nbsp;
      <a href="/groups/new">NEW GROUP</a>
      &nbsp;
      &nbsp;
      <a href="/users/books/{{user._id}}">MY BOOKSHELF</a>
      &nbsp;
      &nbsp;
      <a href="/logout">LOGOUT</a>
      &nbsp;
      &nbsp;
      <span class="user-info">{{user.name}}<img src="{{user.avatar}}" height="50" width="50"></span>{{/if}}
    </nav>

    {{{body}}}

    {{!-- <script src='/javascripts/script.js'></script> --}}
  </body>
</html>
