<h1>{{name}}</h1>

<div class="groups-container">

        <div class="group-page-left">

            <br><b>Group Creator: </b>{{this.owner.name}}</br>

            <br><b>Current Book:</b>
                <br><a href="/book/{{this.currentBook._id}}"><img src="{{this.currentBook.thumbnail}}">
                <br><b>{{this.currentBook.title}}</b></a>
        </div>

        <div class="group-page-middle">
            <br><b>Group Type:</b>
                {{#if public}}

                    Public

                {{/if}}
                {{#unless public}}

                    Private

                {{/unless}}

            <p><b>Members:</b>
                {{#if members}}
                {{#each members}}
                <li>{{this.name}}</li>
                {{/each}}</br>
                {{/if}}
                {{#unless members}}
                <br>Sorry, no members to show.
                {{/unless}}

            <p></p><b>Group Progress: </b>{{this.progress}} %</br>

            <p></p><b>Latest Comment By:</b>
                {{#if memberComments}}
                {{#each memberComments}}
                <li><a href="/users/">{{this.author.name}}</a></li>
                {{/each}}
                {{/if}}
                {{#unless memberComments}}
                <p>No comments to show.</p>
                {{/unless}}

            <p><b>Manage Group:</b></p>
            {{#if owner.yes}}
            <br><button class="edit-group"><a href="/groups/edit/{{this._id}}">EDIT THIS GROUP</a></button>
            &nbsp;&nbsp;&nbsp;<button>ADD MEMBERS</button>
            &nbsp;&nbsp;&nbsp;<button class="delete-group">DELETE THIS GROUP</button>
            {{/if}}
            {{#unless owner.yes}}
            <p>Only this group's owner ({{owner.name}}) can make changes to the group.
            {{/unless}}
        </div>

        <div class="group-page-right">

            <div class="comments-container">
                {{#if memberComments}}
                    {{#each memberComments}}
                        <p>{{this.author.name}}</p>
                        <p>{{this.content}}</p>
                    {{/each}}
                {{/if}}
                {{#unless memberComments}}
                    <p>No comments yet.</p>
                {{/unless}}
            </div>

            <div class="comments-box-container">
                <form action="/groups/{{_id}}/comment/{{currentBook._id}}/submit" method="post">
                    <textarea id="comments-input" rows="10" cols="75" name="content"></textarea>
                    <button type="submit" id="comment-button">SUBMIT COMMENT</button>
                </form>
            </div>

        </div>

</div>

    <script src="/javascripts/groupsShow.js"></script>