<div class="container">

<h1>{{name}}'S USER PROFILE PAGE</h1>

<div class="otherprofiles-left">

    <img src="{{avatar}}">

    <p><b>Name: </b>{{name}}</p>

    <p><b>Email: </b>{{email}}</p>

    <p><b>Joined: </b></p>

</div>

<div class="otherprofiles-right">

    <p><b>Groups:</b></p>
        {{#if groups}}
        {{#each groups}}
            <li><a href="/groups/show/{{this._id}}">{{this.name}}</a></li>
        {{/each}}
        {{/if}}
        {{#unless groups}}
        User hasn't joined any groups yet.
        {{/unless}}

    <p><b>Comments:</b></p>
        {{#if comments}}
        {{#each comments}}
            <p>Group: {{this.group.name}}
            <br>"{{this.content}}"
        {{/each}}
        {{/if}}
        {{#unless comments}}
        <p>This user hasn't made any comments yet.</p>
        {{/unless}}

    <p><b>Bookshelf:</b></p>
    <br>Coming soon!

</div>

</div>