
<div class="container">

<h1>USER PROFILE PAGE</h1>
    <div class="row">


<div class="col-4"><img src="{{avatar}}">

    <p><b>Name: </b>{{name}}</p>

    <p><b>Email: </b>{{email}}</p>

</div>

<div class="col-4">

    <p><b>Groups:</b></p>
        {{#each groups}}
            <li><a href="/groups/show/{{this._id}}">{{this.name}}</a></li>
        {{/each}}

</div>

<div class="col-4">

    <p><b>Comments:</b></p>
        {{#if comments}}
        {{#each comments}}
            <p><b>Group: </b>{{this.group.name}}
            <br>"{{this.content}}"
        {{/each}}
        {{/if}}
        {{#unless comments}}
        <p>This user hasn't made any comments yet.</p>
        {{/unless}}

        <hr>

    <p><b>Bookshelf:</b></p>
    <br>Coming soon!

</div>

</div>

</div>

{{!-- <p>My Progress:

    {{#each user.booksProgress}}

        <p>Title: {{this}}</p>
        <br>Progress: {{this.progress}} %
        <hr>

    {{/each}}

</p>

<p>Bookshelf:</p>

    {{#each user.bookShelf}}

        <br>{{this.title}}

    {{/each}}

<p>Groups:</p>

    {{#each groups}}

        <p>{{this.name}} ({{this.members.length}} members)

            {{#if this.members}}
            
                ({{#each this.members}}

                    {{this.name}}

                {{/each}})

            {{/if}}

        </p>

    {{/each}}

{{!-- <p>My Reviews:</p>

    {{#each user.reviews.book.title}} --}}

{{!-- <p>My Comments:</p>

    {{#each user.comments}}

        <p>{{this.book.title}}</p>

        <p>{{this.content}}</p>

    {{/each}} --}}