<h1>MY GROUPS PAGE</h1>

{{#each groups}}

    <div class="groups-container">

        <div class="group-left">
            <br><b>Group Name: </b>{{this.name}}</br>

            <br><b>Group Creator: </b>{{this.owner.name}}</br>

            <br><b>Current Book:</b>
                <br><a href="/book/{{this.currentBook._id}}"><img src="{{this.currentBook.thumbnail}}">
                <br><b>{{this.currentBook.title}}</b></a>
        </div>

        <div class="group-right">
            <br><b>Members:</b>
                {{#each members}}
                <li>{{this.name}}</li>
                {{/each}}</br>

            <br><b>Group Progress: </b>{{this.progress}} %</br>

            <br><b>Member Reviews:</b>
                {{#each groups.memberReviews}}
                <li>{{this.author}}</li>
                <li>{{this.content}}</li>
                {{/each}}</br>

            <br><b>Member Comments:</b>
                {{#each groups.memberComments}}
                <li>{{this}}</li>
                {{/each}}</br>

            <br><button class="edit-group"><a href="/groups/edit/{{this._id}}">EDIT GROUP</a></button>
            
            <p><button class="delete-group">DELETE GROUP</button>
        </div>

    </div>
    <hr>

{{/each}}

{{!-- {{#each user}}

<p>{{this.groups._id}}</p>

{{/each}} --}}