<h1>USER PROFILE PAGE</h1>

<img src="{{avatar}}">

<p>Name: {{name}}</p>

<p>Email: {{email}}</p>

<p>Groups:</p>
    {{#each groups}}
        <li><a href="/groups/show/{{this._id}}">{{this.name}}</a></li>
    {{/each}}

    <hr>

<p>Comments:</p>
    {{#if comments}}
    {{#each comments}}
        <p>Group: {{this.group.name}}
        <br>"{{this.content}}"
    {{/each}}
    {{/if}}
    {{#unless comments}}
    <p>This user hasn't made any comments yet.</p>
    {{/unless}}

    <hr>

<p>Bookshelf:</p>
<br>Coming soon!

{{!-- <p>My Progress:

    {{#each user.booksProgress}}

        <p>Title: {{this}}</p>
        <br>Progress: {{this.progress}} %
        <hr>

    {{/each}}

</p>

<p>Bookshelf:</p>

    {{#each user.bookShelf}}

        <br>{{this.title}}

    {{/each}}

<p>Groups:</p>

    {{#each groups}}

        <p>{{this.name}} ({{this.members.length}} members)

            {{#if this.members}}
            
                ({{#each this.members}}

                    {{this.name}}

                {{/each}})

            {{/if}}

        </p>

    {{/each}}

{{!-- <p>My Reviews:</p>

    {{#each user.reviews.book.title}} --}}

{{!-- <p>My Comments:</p>

    {{#each user.comments}}

        <p>{{this.book.title}}</p>

        <p>{{this.content}}</p>

    {{/each}} --}}